.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  overflow-y: auto;
  position: relative;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.background-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  max-width: 800px; 
  width: 100%;
  margin: auto;
  margin-top: 20px;
  padding-top: 20px;
}


.content-scroll {
  max-height: calc(100vh - 160px);
  overflow-y: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
  margin-top: 20px;
}

.grid-item {
  background-color: #f0f0f0;
  padding: 15px;
  padding-bottom: 50px; 
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.button-container {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
}

.book-now-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.book-now-button:hover {
  background-color: #0056b3;
}

.booking-form {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
  margin: 20px auto;
}

.booking-form h2 {
  margin-bottom: 20px;
}

.booking-form input,
.booking-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.booking-form button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.booking-form button:hover {
  background-color: #0056b3;
}

.success-message {
  color: green;
  font-weight: bold;
}
